<div class="header">
    <div class="menu"><div class="glassesd">
        <h3><a href="#">Glasses</a></h3>
        <div class="glasseshover">
        <ul>
            <h2>Kids</h2>
            <li><a href="#">Computer Glasses</a></li>
            <li><a href="#">Sun Glasses</a></li>
            <li><a href="#">Normal Glasses</a></li>
        </ul>
        <ul>
            <h2>Men</h2>
            <li><a href="#">Computer Glasses</a></li>
            <li><a href="#">Sun Glasses</a></li>
            <li><a href="#">Normal Glasses</a></li>
        </ul>
        <ul>
            <h2>Women</h2>
            <li><a href="#">Computer Glasses</a></li>
            <li><a href="#">Sun Glasses</a></li>
            <li><a href="#">Normal Glasses</a></li>
        </ul></div>
        </div>
        <div class="powerd">
        <h3><a href="#">Power Glasses</a></h3>
        <div class="powerhover">
        <ul>
            <h2>Kids</h2>
            <li><a href="#">Computer Glasses</a></li>
            <li><a href="#">Sun Glasses</a></li>
            <li><a href="#">Normal Glasses</a></li>
        </ul>
        <ul>
            <h2>Men</h2>
            <li><a href="#">Computer Glasses</a></li>
            <li><a href="#">Sun Glasses</a></li>
            <li><a href="#">Normal Glasses</a></li>
        </ul>
        <ul>
            <h2>Women</h2>
            <li><a href="#">Computer Glasses</a></li>
            <li><a href="#">Sun Glasses</a></li>
            <li><a href="#">Normal Glasses</a></li>
        </ul> </div>   
        </div>    
        <div class="contactd">       
        <h3><a href="#">Contact Leans</a></h3>
        <div class="contacthover"><ul>
            <h2>Men</h2>
            <li><a href="#">Computer Glasses</a></li>
            <li><a href="#">Sun Glasses</a></li>
            <li><a href="#">Normal Glasses</a></li>
        </ul>
        <ul>
            <h2>Women</h2>
            <li><a href="#">Computer Glasses</a></li>
            <li><a href="#">Sun Glasses</a></li>
            <li><a href="#">Normal Glasses</a></li>
        </ul> </div>
        </div>        
        <div class="freamd">
        <h3><a href="#" class="pair">Fream</a></h3>
        <div class="freamhover"><menu>
        <ul>
            <h2>Kids</h2>
            <li><a href="#">Computer Glasses</a></li>
            <li><a href="#">Sun Glasses</a></li>
            <li><a href="#">Normal Glasses</a></li>
        </ul>
        <ul>
            <h2>Men</h2>
            <li><a href="#">Computer Glasses</a></li>
            <li><a href="#">Sun Glasses</a></li>
            <li><a href="#">Normal Glasses</a></li>
        </ul>
        <ul>
            <h2>Women</h2>
            <li><a href="#">Computer Glasses</a></li>
            <li><a href="#">Sun Glasses</a></li>
            <li><a href="#">Normal Glasses</a></li>
        </ul> </menu>
        </div>  
        </div>      
    </div>
    <div class="logo">
        <img src="/pic/logo.png" alt="logo" width="100%" height="100%">
    </div>
    <div class="leftbar">
    <div class="search">
        <form action="" method="get">
            <input type="search" placeholder="Search.." name="search" class="sss">
            <div class="fa"><button type="submit"><i class="a">GO</i></button></div>
        </form>
    </div>
</div>
    <div class="user">
        <h3><a href="/Cart">Cart</a></h3>
        <h3><a href="#">Login</a></h3>
        <h3><a href="#">Ragistation</a></h3>
    </div>
</div>