<!DOCTYPE html>
<html lang="en">
<head>
    <link  rel="stylesheet" type="text/css" href="/css/styles.css">
    <title>Style Eye</title>
</head>
<body>
    <header> <%- include('./header') %> </header>
    <div class="two-section">
    <div class="populer-oder">
        <div class="oder1, ob">
            <img src="pic/Gold-Blue.jpg" alt="" class="oder-pic1">
            <h5 style="color: grey;">StyleEye</h5>
            <h3 class="oder-detail1">Gold-Blue Glasses</h3>
            <!-- Gold Full Rim Hexagonal Sunglasses -->
            <h5 style="color: grey;">Size:Narrow, Medium, Wide</h5>
            <div class="allcoler">
            <a href="#"><div class="red"></div></a>
            <a href="#"><div class="blue"></div></a>
            <a href="#"><div class="yello"></div></a>
            </div>
            <h2 style="color: green; text-align: center; margin: 5px;">&#8377: 1500/- </h2>
        </div>
        <div class="oder2, ob">
            <img src="pic/Brown-Green.jpg" alt="">
            <h5 style="color: grey;">StyleEye</h5>
            <h3 class="oder-detail2">Brown-Green Glasses</h3>
            <!-- Brown Full Rim Round Sunglasses -->
            <h5 style="color: grey;">Size:Narrow, Medium, Wide</h5>
            <div class="allcoler">
                <a href="#"><div class="red"></div></a>
                <a href="#"><div class="blue"></div></a>
                <a href="#"><div class="yello"></div></a>
                </div>
                <h2 style="color: green; text-align: center; margin: 5px;">&#8377: 1500/- </h2>
        </div>
        <div class="oder3, ob">
            <img src="pic/Gold-Brown.jpg" alt="" class="oder-pic3">
            <h5 style="color: grey;">StyleEye</h5>
            <h3 class="oder-detail3">Gold-Brown Glasses</h3>
            <!-- Gold Full Rim Hexagonal Sunglasses -->
            <h5 style="color: grey;">Size:Narrow, Medium, Wide</h5>
            <div class="allcoler">
                <a href="#"><div class="red"></div></a>
                <a href="#"><div class="blue"></div></a>
                <a href="#"><div class="yello"></div></a>
                </div>
                <h2 style="color: green; text-align: center; margin: 5px;">&#8377: 1500/- </h2>
        </div>
        <div class="oder4, ob">
            <img src="pic/sand-dune.jpg" alt="" class="oder-pic4">
            <h5 style="color: grey;">StyleEye</h5>
            <h3 class="oder-detail4">Sand-Dune Glasses</h3>
            <!-- Sand Dune Full Rim Hustlr Eyeglasses -->
            <h5 style="color: grey;">Size:Narrow, Medium, Wide</h5>
            <div class="allcoler">
                <a href="#"><div class="red"></div></a>
                <a href="#"><div class="blue"></div></a>
                <a href="#"><div class="yello"></div></a>
                </div>
                <h2 style="color: green; text-align: center; margin: 5px;">&#8377: 1500/- </h2>

        </div>
        <div class="oder5, ob">
            <img src="pic/vincent-chase.jpg" alt="" class="oder-pic5">
            <h5 style="color: grey;">StyleEye</h5>
            <h3 class="oder-detail5">Vincent-Chase Glasses</h3>
            <!-- Gunmetal Full Rim Aviator Eyeglasses -->
            <h5 style="color: grey;">Size:Narrow, Medium, Wide</h5>
            <div class="allcoler">
                <a href="#"><div class="red"></div></a>
                <a href="#"><div class="blue"></div></a>
                <a href="#"><div class="yello"></div></a>
                </div>
                <h2 style="color: green; text-align: center; margin: 5px;">&#8377: 1500/- </h2>
        </div>
    </div>
    <div class="oder-details">
        <div class="name-product"><h4>StyleEye</h4><h2>Gold-Blue Glasses</h2></div>
        <div class="oder-pic"> 
        <!-- <div class="picOneDiv"> <img src="pic/Gold-Blue.jpg" alt="ptoduct-pic"> </div> -->
        <div class="picTwoDiv"><img src="pic/Gold-Blue pic 1.jpg" alt="ptoduct-pic"></div>
        <div class="picTherdDiv"><img src="pic/Gold-Blue pic 2.jpg" alt="ptoduct-pic"></div>
        <div class="picForDiv"><img src="pic/Gold-Blue pic 3.jpg" alt="ptoduct-pic"></div>
        <div class="picFiveDiv"><img src="pic/Gold-Blue pic 4.jpg" alt="ptoduct-pic"></div>
        <div class="picSixDiv"><img src="pic/Gold-Blue pic 5.jpg" alt="ptoduct-pic"></div>
        <div class="picSevenDiv"><img src="pic/Gold-Blue pic 6.jpg" alt="ptoduct-pic"></div>
        <div class="picEytDiv"><img src="pic/Gold-Blue pic 7.jpg" alt="ptoduct-pic"></div>
        <div class="picNineDiv"><img src="pic/Gold-Blue pic 8.jpg" alt="ptoduct-pic"></div>
        <div class="picTenDiv"><img src="pic/Gold-Blue pic 9.jpg" alt="ptoduct-pic"></div> 
        </div>
        <!-- <div class="info-oder"><img src="pic/Gold-Blue.jpg" alt="ptoduct-pic"></div> -->
    <div class="product-detail">
        <h3>Technical Information</h3>
        <p>Brand Name : John Jacobs <br>
            Product Type : 
            Sunglasses<br>
            Frame Type : 
            Full Rim<br>
            Frame Shape : 
            Hexagonal<br>
            Model No. : 
            JJ S12472<br>
            Frame Size : 
            Medium<br>
            Frame Width : 
            137 mm<br>
            Frame Dimensions : 
            53-20-145<br>
            Frame colour : 
            Gold<br>
            Glass Color : 
            Blue<br>
            Weight : 
            26 gm<br>
            Weight Group : 
            Light<br>
            Material : 
            Stainless Steel<br>
            Frame Material : 
            Stainless Steel<br>
            Temple Material : 
            Stainless Steel<br>
            Prescription Type : 
            Single Vision<br>
            Collection : 
            JJ TINTS<br>
            Lens Material : 
            Polycarbonate<br>
            Product Warranty : 
            1 Year Manufacturer Warranty<br>
            Gender : 
            Unisex<br>
            Height : 
            46 mm<br>
            Condition : 
            New<br>
            Lens Technology : 
            100% UV Protection (UV 400)<br>
            Temple Colour : 
            Golden</p>
    </div>
    <form action="Cart" method="post">
    <div class="opsion">
        <input type="text" name="color">
        <input type="text" name="size">
        <!-- <select id="color" name="color">
            <option value="blue" >Black</option>
            <option value="saab">Blue</option>
            <option value="opel">Light-Blue</option>
          </select>
        <select name="size" id="size" name="size">
            <option value="midium">midium</option>
            <option value="large">large</option>
            <option value="small">small</option>
        </select> -->
        <h5 value="price" name="price">Price : 1500</h5>
    </div>
    <div class="buy-button">
        <button type="submit">Add to Cart</button>
        <button>Buy</button>
    </div>
    </form>
    </div>
    </div>
</body>
</html>