/* this css to conect all the css becose this css root and body thts why 
and also this css using header file html
 */
:root{
    --border: 2px solid red;
    --allbg: rgba(255, 255, 0, 0.486);
    --bg: black;
    --gold: silver;
    
}
body{
    margin: 0;
    padding: 0;
    background-color: white;
}
.header{
    background-color: var(--bg);
    display: flex;
    margin-top: 0.2%;
    /* border:var(--border); */
}
.menu{
    display: flex;
    /* border:var(--border); */
    padding-right: 80px;
    padding-top: 11px;
    background-color: var(--bg);
    /* justify-content: left; */
}
a{
    text-decoration: none;
    color: #bdbdbd;
    margin-left: 25px;
    /* background-color: var(--gold); */
    /* border-radius: 24px; */
    /* box-shadow:10px 10px 5px rgba(255, 255, 255, 0.596); */
    padding: 3px;

}
.contactd, .powerd, .glassesd, .freamd{
    /* border: var(--border); */
    display: inline;

}
.contacthover, .powerhover, .glasseshover, .freamhover{
    display: none;
    position: relative;
    left: -35%;
    margin-right: -90px;

}
.freamd:hover .freamhover{
    display: block;
}
.glassesd:hover .glasseshover{
    display: block;
}
.powerd:hover .powerhover{
    display: block;
}
.contactd:hover .contacthover{
    display: block;
    overflow-y: hidden;

}  
a:hover{
    color: var(--allbg);
    font-size: large;
}

.logo{
    display: flex;
    /* border:var(--border); */
    width: 120.422px;
    height: 80.438px;
    position: relative;
    left: 50px;
}
 .user{
    display: flex;
    padding-left: 0%;
    position: absolute;
    margin-left: 80%;
    padding-top: 11px;
    /* border: var(--border); */
    
}
input[type="search"] {
    width: 15%;
    margin-left: 15%;
    margin-top: 2%;
    position: absolute;
}
input, button{
    position: absolute;
    margin-left: 27%;
    margin-top: 2%;
    height: 30px;
    border-radius: 100px;
    box-shadow: 5px 5px 2.5px rgba(255, 255, 255, 0.596);;
}
ul h2{
    color: var(--allbg);
}
